.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    align-content: left;
    flex-direction: row;
    width: var(--div-width);
    height: var(--div-height);
    border: var(--div-border);
    margin :var(--div-margin);
}

.div--user {
    flex-direction: column;
    width: var(--div-user-width);
    margin: var(--div-user-margin);
    padding: var(--div-user-padding);
    font-family: var(--div-user-font-family);
    font-size: var(--div-user-font-size);
}

.div--contacts {
    flex-direction: column;
    width: var(--div-contacts-width);
    margin: var(--div-contacts-margin);
    padding: var(--div-contacts-padding);
    font-family: var(--div-contacts-font-family);
    font-size: var(--div-contacts-font-size);
}

.div--button {
    align-items: right;
    justify-content: center;
    border: none;
}

.field_with_errors,
.div--create-user {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: left;
    width: 100%;
}

.div--error-message {
    font-size: var(--div--error-message-font-size);
    color: var(--color-red);
    background-color: var(--color-pale-pink);
}
